.contact-form {
    padding: 100px 30px;
    padding-left: 250px;
    background: $section-bg;
    border-radius: 15px;
    border: 1px solid $border-color;
}
.contact-info {
    padding: 30px;
    background: $section-bg;
    max-width: 500px;
    border: 1px solid $border-color;
    border-radius: 10px;
}